/* global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.7;
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
}

li {
  list-style: none;
}

:focus {
  outline-width: 0;
}

/* text and body styling */

h2,
p,
.readme-wrapper {
  text-align: center;
}

h2 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

p {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
  }


a:hover {
    cursor: pointer;
    color: black;
    font-weight: 600;
}

/* box styling */

.boxes {
    margin-bottom: 2rem;
    padding: 3rem 2rem;
    border: .1rem solid black;
    border-radius: .5rem;
    width: 60rem;
    display: block;
}

.boxes:first-child {
    margin-top: 5vh;
}

#box1 {
    background: #FF9AA2;
}

#box2 {
    background: #E2F0CB;
    position: absolute;
    left: 61rem;
    bottom: 67.3rem;
}

#box3 {
    background: #FFDAC1;
}

#box4 {
    background: #C7CEEA;
}

